<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <input type="hidden" name="module" value="dashboard">
      <input type="hidden" name="action" value="login">
      <input type="hidden" name="postAction" value="1">
      <label> Gebruikersnaam </label>
      <input type="text" name="username" value="" required>
      <label> Wachtwoord </label>
      <input type="password" name="password" value="" required>
      <button type="submit" name="submit"> Inloggen </button>
    </form>
  </body>
</html>
